@import "./variable";

#wrapper {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  a {
    text-decoration: none;
    img {
      height: 250px;
      width: 250px;
    }
  }
}
// LOADING
#loading {
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}
// HEADER
header {
  z-index: 10;
  a {
    color: $text-white !important;
    text-align: center;
  }
  i {
    font-size: 24px;
  }
  .collapse a:hover {
    transition: all 0.3s;
    transform: scale(1.2);
  }
  #quantity {
    height: 20px;
    width: 20px;
    line-height: 20px;
  }
}
// CART
.modal-body {
  overflow: clip scroll;
}
.modal-body::-webkit-scrollbar {
  width: 0;
}
// PRODUCT DETAIL
#productDetail {
  .modal-body {
    background-image: $bg1;
  }
  .input-group-text {
    width: 50px;
    justify-content: center;
  }
  .warning {
    display: none;
    color: red;
  }
}
// PRODUCT LIST
#product-list {
  .card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .overlay {
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
  }
  .wrapper:hover .overlay,
  .wrapper:hover .card {
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s;
    transform: scale(1.1);
  }
  .specifications {
    overflow: clip scroll;
  }
  .specifications::-webkit-scrollbar {
    width: 0;
  }
  .add-to-cart:active {
    transform: scale(0.9);
  }
}
// FOOTER
footer {
  a {
    color: $text-white;
  }
  .social-network a {
    margin: 1rem;
  }
  h5 {
    margin-bottom: 1.5rem;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    margin-bottom: 1rem;
  }
  .contact i {
    margin-right: 1rem;
  }
}
// SMALL (SM) SCREEN
@media (min-width: 576px) {
  #product-type {
    width: 100%;
  }
}
// MEDIUM (MD) SCREEN
@media (min-width: 768px) {
  #product-type {
    width: 50%;
  }
}
// LARGE (LG) SCREEN
@media (min-width: 992px) {
  header #cart {
    margin-left: auto;
  }
  #product-type {
    width: 33%;
  }
}
// EXTRA LARGE (XL) SCREEN
@media (min-width: 1200px) {
  #product-type {
    width: 25%;
  }
}
