#wrapper {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
}
#wrapper a {
  text-decoration: none;
}
#wrapper a img {
  height: 250px;
  width: 250px;
}

#loading {
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

header {
  z-index: 10;
}
header a {
  color: #fff !important;
  text-align: center;
}
header i {
  font-size: 24px;
}
header .collapse a:hover {
  transition: all 0.3s;
  transform: scale(1.2);
}
header #quantity {
  height: 20px;
  width: 20px;
  line-height: 20px;
}

.modal-body {
  overflow: clip scroll;
}

.modal-body::-webkit-scrollbar {
  width: 0;
}

#productDetail .modal-body {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
#productDetail .input-group-text {
  width: 50px;
  justify-content: center;
}
#productDetail .warning {
  display: none;
  color: red;
}

#product-list .card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#product-list .overlay {
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
}
#product-list .wrapper:hover .overlay,
#product-list .wrapper:hover .card {
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s;
  transform: scale(1.1);
}
#product-list .specifications {
  overflow: clip scroll;
}
#product-list .specifications::-webkit-scrollbar {
  width: 0;
}
#product-list .add-to-cart:active {
  transform: scale(0.9);
}

footer a {
  color: #fff;
}
footer .social-network a {
  margin: 1rem;
}
footer h5 {
  margin-bottom: 1.5rem;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin-bottom: 1rem;
}
footer .contact i {
  margin-right: 1rem;
}

@media (min-width: 576px) {
  #product-type {
    width: 100%;
  }
}
@media (min-width: 768px) {
  #product-type {
    width: 50%;
  }
}
@media (min-width: 992px) {
  header #cart {
    margin-left: auto;
  }
  #product-type {
    width: 33%;
  }
}
@media (min-width: 1200px) {
  #product-type {
    width: 25%;
  }
}/*# sourceMappingURL=main.css.map */